

.dashboard--container {
  margin-top: 7vh;
  border: solid 2px rgb(59, 55, 55);
  border-radius: 5px;
  height: 70vh;
  overflow: hidden;
}

div.dashboard--row {
  display: flex;
  flex-flow: row wrap;
  height: inherit;
}

div.collection--bar {
  justify-self: flex-start;
  border-right: solid 2px rgb(59, 55, 55);
  padding: 0px;
  overflow-x: scroll;
  height: inherit;
}


div.dashboard--header.row {
  padding-top: 5px;
  display: flex;
  border-bottom: solid 2px rgb(59, 55, 55);
}

div.dashboard__note--group{
  margin-left: .5rem;
}

h1.title {
  justify-self: center;
}

button.new--dropdown {
  margin-top: .3rem;
}

div.new-btn-col {
  padding: 0px;
}
